.app-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color:#666;

    >a{
        display: flex;
        flex:1;
        height: 3.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .active{
        color:#fff
    } 
}